body {background-color: darkblue;
}
h1 {text-align: center;
}
h1 {color: chartreuse;
    font-size: 200%;
}
h2 {color: deeppink;
    font-size: 250%;
    border-color: darkorange;
    border-width: 100%;
}
h3 {color: aqua;
    font-size: 300%;
}